@charset "utf-8";

/*-- c-fix hack -- */ 
.row:before, 
.row:after {
    content:"";
    display: table ;
    clear:both;
}

.row {
    width: 100%;
    position: relative;
}

[class*='col-'] {
    float: left;
    max-width: 100%;
}

.col-1 { width:  5.333%; }
.col-2 { width: 13.667%; }
.col-3 { width: 22.001%; }
.col-4 { width: 30.333%; }
.col-5 { width: 38.667%; }
.col-6 { width: 47.001%; }
.col-7 { width: 55.335%; }
.col-8 { width: 63.669%; }
.col-9 { width: 72.001%; }
.col-10 { width: 80.335%; }
.col-11 { width: 88.669%; }
.col-12 { width: 97.000%; }

.col-9:only-of-type,
.col-10:only-of-type,
.col-11:only-of-type {
    width: 97%; 
}

.outline,
.outline *{
    outline: 1px solid grey;
}

main [class*='col-'],
footer [class*='col-'] {
    padding: 0.5rem 1rem; /*-- Gutter -- */
}

@media all and (min-width: 1228px) {

    .col-1 { width: 4.92%; }
    .col-2 { width: 13.261%; }
    .col-3 { width: 17%; }

    .col-4 { width: 27.084%; }

    .col-5 { width: 46.596%; }
    .col-6 { width: 47%; }

    .col-7 { width: 97.5%; }
    .col-8 { width: 97.5%; }
    .col-9 { width: 68.140%; }
    .col-10 { width: 97.5%; }
    .col-11 { width: 97.5%; }
    .col-12 { width: 97.5%; }

    header div:nth-child(2) .col-12 {
        width: 60.77%;
    }

    header div:nth-child(2) .col-12:first-of-type {
        width: 28%;
    }

    [class*='col-']:only-of-type {        
        width: 97.5%; 
    }

    main .col-6 {
        width: 23%;
    }

    footer .row {
        margin: 1rem auto;
        max-width: 700px;
    }
}

@media all and (max-width:1227px) and (min-width: 1024px) {

    .col-1 { width: 4.92%; }
    .col-2 { width: 13.261%; }
    .col-3 { width: 17%; }

    .col-4 { width: 27.084%; }

    .col-5 { width: 46.596%; }
    .col-6 { width: 47%; }

    .col-7 { width: 97.5%; }
    .col-8 { width: 97.5%; }
    .col-9 { width: 68.140%; }
    .col-10 { width: 97.5%; }
    .col-11 { width: 97.5%; }
    .col-12 { width: 97.5%; }

    header div:nth-child(2) .col-12 {
        width: 60.77%;
    }

    header div:nth-child(2) .col-12:first-of-type {
        width: 33%;
    }

    [class*='col-']:only-of-type {
        
        width: 97.5%; 
    }

    main .col-6 {
        width: 47.65%;
    }

    footer .row {
        margin: 1rem auto;
        max-width: 700px;
    }
}

@media all and (max-width:1023px) and (min-width: 768px) {

    footer [class*='col-'] {
        width: 46%;
    }

    .col-1 { width: 4.92%; }
    .col-2 { width: 13.261%; }
    .col-3 { width: 17%; }

    .col-4 { width: 27.084%; }

    .col-5 { width: 46.5%; }
    .col-6 { width: 46.875%; }

    .col-7 { width: 97%; }
    .col-8 { width: 97%; }
    .col-9 { width: 68.140%; }
    .col-10 { width: 97%; }
    .col-11 { width: 97%; }
    .col-12 { width: 97%; }

    header div:nth-child(2) .col-12 {
        width: 63.941%;
    }

    header div:nth-child(2) .col-12:first-of-type {
        width: 29%;
    }

    [class*='col-']:only-of-type {       
        width: 97.5%; 
    }

    footer .row {
        margin: 1rem auto;
        max-width: 600px;
    }
}

@media all and (max-width:767px) and (min-width: 569px) {

    .col-1 { width: 4.92%; }
    .col-2 { width: 13.261%; }
    .col-3 { width: 17%; }

    .col-4 { width: 27.084%; }

    .col-5 { width: 45.77%; }
    .col-6 { width: 46%; }

    .col-7 { width: 98%; }
    .col-8 { width: 98%; }
    .col-9 { width: 68.140%; }
    .col-10 { width: 98%; }
    .col-11 { width: 98%; }
    .col-12 { width: 98%;}

    header div:nth-child(2) .col-12 {
        width: 58%;
    }

    header div:nth-child(2) .col-12:first-of-type {
        width: 34%;
    }

    [class*='col-']:only-of-type {
        padding: 0.5rem 0;
        width: 98%;
    }

    footer [class*='col-'] {
        width: 46%;
    }

    footer .row {
        margin: 1rem auto;
        max-width: 600px;
    }
}

@media all and (max-width:568px) and (min-width: 420px) {
    
    main [class*='col-'],
    footer [class*='col-'] {
        padding: 0.5rem 0; /*-- Gutter -- */
    }

    .col-1 { width: 4.92%; }
    .col-2 { width: 13.261%; }
    .col-3 { width: 18.754%; }

    .col-4 { width: 27.084%; }

    .col-5 { width: 46.596%; }
    .col-6 { width: 100%; }

    .col-7 { width: 100%; }
    .col-8 { width: 100%; }
    .col-9 { width: 68.140%; }
    .col-10 { width: 100%; }
    .col-11 { width: 100%; }
    .col-12 { width: 100%; }

    header div:nth-child(2) .col-12 {
        width: 58%;
    }

    header div:nth-child(2) .col-12:first-of-type {
        width: 32%;
    }

    [class*='col-']:only-of-type {
        width: 100%; 
    }
}

@media all and (max-width: 419px) {

    main [class*='col-'],
    footer [class*='col-'] { 
        padding: 0.5rem 0; /*-- Gutter -- */
    }

    .col-1 { width: 4.92%; }
    .col-2 { width: 13.261%; }
    .col-3 { width: 18%; }

    .col-4 { width: 27.084%; }

    .col-5 { width: 46.596%; }
    .col-6 { width: 100%; }

    .col-7 { width: 100%; }
    .col-8 { width: 100%; }
    .col-9 { width: 68.140%; }
    .col-10 { width: 100%; }
    .col-11 { width: 100%; }
    .col-12 { width: 100%; }

    [class*='col-']:only-of-type {
        width: 100%; 
    }
}
