/* Contents of this file:
 * |Basic Styles|
 * |Media Queries|
 * |Color|
 */

@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900');
@import url('components/buttons.css');




/* GENERAL SETTINGS 
********************/
html, body, h1, h2, h3, h4, a, p, nav, ul,
article, button, input, select, textarea, .pure-g [class *= "pure-u"] {
  border: 0;
  color: #fff;
  font: normal 62.5% 'Lato', helvetica, arial, sans-serif;
  margin: 0; 
}

.pure-g {
  height: auto;
  max-width: 1280px;
}

html {
  overflow-y: scroll;
}

/* The text-size-adjust property allows control over
the text inflation algorithm used on some mobile devices */
body {
  background-color: black;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

header, main, footer, .pure-g {
  border: 0;
  display: block;
  margin: 0 auto;
  width: 100%;
}

header, footer {
  background: transparent url("../img/background_texture.jpg") repeat;
}

nav {
  display: inline;
}
footer {
  margin-top: 1rem;
  padding: 1rem 0 2rem 0;
}

a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

img {
  display: flex;
  height: auto;

}
.profile-picture {
  max-width: 100%;
}

#sliding-menu {
  background-color: transparent;
  height: auto;
  position: fixed;
  right: 0; 
  top: 0;
  width: 100px;
  z-index: 2000;
}

#sliding-shape {
  border-left: 75px solid transparent;
  border-top: 75px solid rgba(255, 0, 0, 1);
  height: 0;
  position: fixed; 
  right: 0;
  top: 0; 
  width: 0;
  z-index: 2010; 
}

#sliding-link {
  cursor: pointer;
  position: fixed;
  right: 3px; 
  top: 10px;
  z-index: 2020;
}

#sliding-menu-list {
  display: block;
  padding: 0;
  position: fixed;
  margin: 0;
  right: -115px;
  top: -3px;
  z-index: 2030;
}

.icon-menu {
  float: right;
  height: auto;
  width: 32px;
}

.icon-top {
  height: 35px;
  width: 40px;
}

#menu-top { 
  /*display: block;*/
  float: right;
  position: relative;
  top: 35px;
}

.menu-list {
  display: inline-flex;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  list-style: none;
}

.link-menu {
  background-color: transparent;
  color: #aaa;
  float: right;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  margin-top: -0.01rem;
  padding: 0rem .5rem;
}

.link-menu:hover {
  color: #fff;
}

#header-title {
  background-color: transparent; 
  border: 0;
  color: white;
  display: inline-block;
  float: left;
  text-align: right;
  width: 100%;
}

.span-blue {
  display: inline-flex;
  margin-right: .5rem;
  text-align: center;
}

.blue {
  color: #06F;
}

#header-photo {
  display: inline-flex;
  float: left;
}

h1, h2, h3 {
  display: inline-flex;
  margin-left: .5rem;
  text-align: center;
}

h1, h2 {
  line-height: 135%;
}


#generalAssembly {
  padding: 1rem 0;
}

[id*='projects-'],
[id*='employment-'],
[id*='education-'] {
  cursor: auto;
  height: auto;
  overflow: hidden;
  padding: 1rem;
  position: relative; 
}

[id*='contact-'] {
  height: auto;
  margin: 0 auto;
  width: auto;
}

[class*='img-project-'] {
  float: right;
  padding: 0 0 .5rem 1.5rem;
}

.img-education {
  padding: .5rem 0 1.5rem 0;
}

.button-show {
  background-color: rgba(255,0,0,0.9);
  border: 0.01rem;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  /*border-style: inset;*/
  color: #FFF;
  float: right;
  font-size: 1.4rem;
  /*font-style: italic;*/
  margin-right: 2rem;
  padding: .6rem;
  text-decoration: none;
}

.button-show:hover {
  background-color: rgba(255,0,0,1);
  /*border-style: outset;*/
  cursor: pointer;
  text-decoration: none;
}

.button-show:active {
  border: none;
  border-style: none;
  text-decoration: none;
}

.display-position {
  bottom: 0;
  position: absolute;
  right: 0;
  z-index: 1000;
}

#button-top-container {
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 100;
}

#top-shape img {
  opacity: .8;
}

#top-shape img:hover {
  opacity: 1;
}

#top-link {
  bottom: 6px;
  left: 8px;
  position: fixed;
  z-index: 1000; 
}

.statement-text {
  font-style: italic;
  margin: 1rem 0;
  padding: 0 2rem;
  text-align: center;
}

.header-section, .header-contacts {
  border-bottom: 3px solid white;
  font: bold 2.5rem 'Lato', arial, sans-serif;
  font-variant: all-small-caps;
  letter-spacing: .2rem;
  padding: .5rem 1rem;
}

.header-contacts {  
  border-bottom: 0;
  font-size: 2.3rem;
  letter-spacing: .1rem;
  text-align: center;
}

.paragraph {
  font-size: 1.7rem;
  font-weight: 300;
  letter-spacing: .05rem;
  text-align: left;
  text-indent: 1rem;
}

.paragraph-header-projects,
.paragraph-header-education,
.paragraph-header-employment {
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: .1rem;
  margin-bottom: 1.5rem;
  padding: .5rem 1rem;
}

section {
  padding: 0.5rem 0;
  position: relative;
}

#projects .header-section
{
  background-color: #A61322;
}

#education .header-section
{
  background-color: #2034e5;
}

#employment .header-section
{  
  background-color: #22a613;
}

.paragraph-header-projects {
  border-bottom: 2px solid #A61322;
  padding-bottom: 1.5rem;
}

.paragraph-header-education {
  border-bottom: 2px solid #2034e5;
  padding-bottom: 1.5rem;
}

.paragraph-header-employment {
  border-bottom: 2px solid #22a613;
  padding-bottom: 1.5rem;
}

.link-contact {
  background-color: rgba(255,255,255,0);
  border: 1px white solid;
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  padding: 1rem 0;
  text-align: center;
}

.link-contact:hover {
  background-color: rgba(255,255,255,1);
  color: black;
}

.link-visit {
  text-decoration: underline;
}

.link-visit:hover {
  text-decoration: none;
}

#education-3 ul {
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: .05rem;
  list-style: outside;
  padding: 0.5rem 0 0 3.5rem;
}

.margin-top-1rem {
  margin-top: 1rem;
}

.even {
  clear: left;
}

.margin-thumbnail {
    margin: 0 0 .5rem 1.5rem;
}

/***
* Styles for an overlay div to show a column with a CV element
*/

#overlay-div {
  background-color: black;
  border: 2px solid #fff;
  display: block;
  height: auto;
  margin: 0;
  overflow: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  z-index: 5000;
}

#overlay-div2 {
  background-color: black;
  border: 1px solid #fff;
  display: block;
  height: auto;
  margin: 0;
  overflow: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 95%;
  z-index: 5000;
}

#transparent-alpha-layer {
  background-color: rgba(0,0,0,.7);
  display: block;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4000;
}

.no-scroll {
  overflow: hidden;
}

/** 
*   Center and crop thumbnails with CSS.
*   Styles from JONATHAN NICOL
*   http://jonathannicol.com/blog/2014/06/16/centre-crop-thumbnails-with-css/
*/

.thumbnail {
  height: 96px;
  overflow: hidden;
  position: relative;
  width: 96px;
  float: right;
}

.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  max-width: auto;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

@media all and (min-width: 1228px) {

  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3, h4, .span-blue {
    font-size: 2rem;
  }

  .block {
    display: block;
    text-align: left;
  }

  #header-photo {
    height: auto;
    float: right;
  }
  
  #header-photo img {
    height: auto;
    max-height: 200px;
  }

  #header-title {
    width: auto;
    height: auto;
    text-align: left;
    padding-top: 9%;
    margin-left: 6%;
  }

  #menu-top {
    top: 35px;
    right: 0px;
  }

  .photo-caption {
    font-size: 1.4rem;
  }

  .link-menu {
    font-size: 1.8rem;
  }

  .link-contact {
    font-size: 1.5rem;
  }

  [class*='img-project-'] {
    float: initial;
    max-height: 160px;
    margin: 0 auto;
    padding: 1rem;
  }

  .even {
    clear: none;
  }

}

@media all and (max-width:1227px) and (min-width: 1024px) {

  .pure-g {
    min-width: 1024px;
  }

  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3, h4, .span-blue {
    font-size: 2rem;
  }

  .block {
    display: block;
    text-align: left;
  }

  #header-photo {
    height: auto;
    float: right;
  }
  
  #header-photo img {
    height: auto;
    max-height: 200px;
  }

  #header-title {
    width: auto;
    height: auto;
    text-align: left;
    padding-top: 9%;
    margin-left: 6%;
  }

  #menu-top {
    margin-right: 50px;
    top: 15px;
  }

  [class*='img-project-'] {
    max-height: 160px;
  }

  .photo-caption {
    font-size: 1.4rem;
  }

  .link-contact {
    font-size: 1.6rem;
  }

  .link-menu {
    font-size: 1.8rem;
  }
}

@media all and (max-width: 1023px) and (min-width: 768px){

  .pure-g {
    max-width: 1023px;
  }

  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3, h4, .span-blue {
    font-size: 1.9rem;
  }

  .block {
    display: block;
    text-align: left;
  }

  #header-photo {
    height: auto;
    float: right;
  }
  
  #header-photo img {
    height: auto;
    max-height: 200px;
  }

  #header-title {
    width: auto;
    height: auto;
    min-height: 120px;
    text-align: left;
    padding-top: 8%;
    margin-left: 6%;
  }

  #menu-top {
    margin-right: 50px;
    top: 0px;
  }

  [class*='img-project-'] {
      max-height: 120px;
  }

  .link-menu, .link-contact {
    font-size: 1.6rem;
  }
}

@media all and (max-width: 767px) and (min-width: 569px){
  
  .pure-g {
    max-width: 767px;
  }

  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2.2rem;
  }

  h3, h4, .span-blue {
    font-size: 1.8rem;
  }

  .block {
    display: block;
    text-align: left;
  }

  #header-photo {
    height: auto;
    float: right;
  }
  
  #header-photo img {
    height: auto;
    max-height: 195px;
  }

  #header-title {
    display: block;
    float: left;
    width: auto;
    height: auto;
    min-height: 135px;
    text-align: left;
    padding-top: 10%;
    margin-left: 6%;
  }

  #menu-top {
    top: -5px;
  }

  #sliding-menu-list {
    display: inline;
  }

  [class*='img-project-'] {
    max-height: 120px;
  }
}

@media all and (max-width: 568px) and (min-width: 420px){
  
  .pure-g {
    max-width: 567px;
  }

  h1 {
    font-size: 2.7rem;
  }

  h2 {
    font-size: 2.2rem;
  }

  h3, h4, .span-blue {
    font-size: 1.8rem;
    letter-spacing: .05rem;
  }

  header .col-12 {
    padding: 0rem .5rem;
  }

  #header-photo {
    display: block;
    float: right;
  }

  #header-photo img {
    height: auto;
    max-height: 152px;
  }

  #header-title {
    width: auto;
    height: auto;
    text-align: left;
    padding-top: 5%;
    margin-top: 0;
  }

  #menu-top {
    display: none;
  }

  [class*='img-project-'] {
    max-height: 120px;
  }

  [id*='contact-'] {
    width: 75%;
  }

  .paragraph {
    padding: 0 0.7rem;
  }

  .even {
    clear: none;
  }
}

@media all and (max-width: 419px) {

  .pure-g {
    max-width: 418px;
  }

  header {
    padding-bottom: 2rem;
  }

  [class*='img-project-'] {
    max-height: 95px;
  }

  [id*='contact-'] {
    width: 75%;
  }

  h1 {
    font-size: 2.7rem;
  }

  h2 {
    font-size: 2.2rem;
  }

  h3, h4, .span-blue {
    font-size: 1.8rem;
    letter-spacing: .05rem;
  }

  .link-contact {
    overflow: hidden;
  }

  #header-photo {
    height: 320px;
  }

  #header-photo img {
    object-fit: scale-down;
  }

  #header-title {
    padding: 1rem;
    text-align: center;
    width: auto; 
  }

  #menu-top {
    display: none;
  }

  .paragraph {   
    padding: 0 0.7rem;
  }

  .even {
    clear: none;
  }
}