@import url(https://fonts.googleapis.com/css?family=Lato:400,900);

/* PAGE BACKGROUND ETC. ===================*/
html, body {
  font-family: 'Lato', sans-serif; 
  height: 100%; 
  margin: 0; 
  padding: 0;
  background: radial-gradient(circle at 5.43% 82.26%, #5ae8c7, transparent 87%),radial-gradient(circle at 95.52% 15.38%, #6CCCE5, white 87%),radial-gradient(circle at 50% 50%, white, white 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

  #container {
    background-image: url(../img/01_background_texture_fabric.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


  .button-width {
    width: 35%;
  }
  .chat-button-width {
    display: none;
  }
  .chat-box {
    margin: 10px 0;
    padding: 10px;
  }
  .chat-form {
    margin: 0;
    padding: 10px;
    width: 91.6667%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }


.centering {
  display: block;
  margin: 20px auto;
}
