@import url(https://fonts.googleapis.com/css?family=Lato:400,900);

/* PAGE BACKGROUND ETC. ===================*/
html, body {
  font-family: 'Lato', sans-serif; 
  height: 100%; 
  margin: 0; 
  padding: 0;
  background: radial-gradient(circle at 5.43% 82.26%, #5ae8c7, transparent 87%),radial-gradient(circle at 95.52% 15.38%, #6CCCE5, white 87%),radial-gradient(circle at 50% 50%, white, white 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.img {
  width: 100%;
  height: auto;
  margin: 20px;
}
a {
  text-decoration: none;
  color: #30181C;
}
li {
  list-style: none;
}
/* DIV PREPARED TO PUT BACKGROUND IMG */
/*#container {
  background-image: url(../images/chat-women.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
.transparent {
  opacity: 0.2;
  height: 0%;
}
/* NAVIGATION BAR ===================*/
.pure-menu-link {
    color: #6CCCE5;
}
.custom-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 1em;
    -webkit-font-smoothing: antialiased;
    height: 2.1em;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
}
.custom-wrapper.open {
    height: 200px;
}
.custom-menu-3 {
    text-align: right;
}
.custom-toggle {
    width: 34px;
    height: 34px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
.custom-toggle .bar {
    background-color: #6CCCE5;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}
.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}
.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
/* LANDER & SIGNUP ===================*/
/* Some of these are over-rides, which may bite us later */
.landerform {
  margin: 0;
  text-align: center;
}
.pure-u-1-2 {
  margin-bottom: 2%;
}
.ambar-line {
  margin-bottom: 6px;
}
.vertical-ambar {
  vertical-align: middle;
}
/*.centering {
  margin: 0 auto;
}*/
.pure-button-primary {
  background: white;
  color: #6CCCE5;
  border: 0 rgba(0,0,0,0);
  border-radius: 5px;
  font-size: 120%;
  text-decoration: none;
}
a.pure-button-primary {
  background: white;
  color: #6CCCE5;
  border: 0 rgba(0,0,0,0);
  border-radius: 5px;
  font-size: 120%;
  text-decoration: none;
  width: 50%;
  margin-top: 2%;
}
::-webkit-input-placeholder {
 text-align: center;
}

/* MAP (Map Styling is in main.js) ===================*/

#map { 
  height: 60%;
}

.hide {
  display: none;
}
.show {
  display: inline-block;
}
/* LISTING EVENTS. ===================*/
.js-events-li {
  margin: 1% auto;
}
.list-info {
  min-height: 120px;
}
.list-distance {
  /*background: url(fallback.png); IF TIME ALLOWS. */
  background-image: url(../images/distance-marker.svg);
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  max-height: 80px;
  vertical-align: center;
}
.list-distance p {
  margin-top: 8px;
  font-size: 12px;
}

#list-event ul {
  list-style: none;
  width: 95%;
  margin: 0;
  padding: 0;
}

#list-events-ul ul {
  list-style: none;
  display: inline-block;
}


/* LISTING SINGLE EVENT. ===================*/
.list-none {
  list-style: none;
}
.title {
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: 0.2;
}

.address {
  font-size: 1em;
  font-style: oblique;
  opacity: 0.8;
}

.join-chat {
  display: inline;
  list-style: none;
}

.inline{
  display: inline;
  width: 100%;
}

.width-auto {
  width: 40%;
}
.ambar-gradient {
  background: rgba(255,255,255,0.5);
  background: -moz-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}
/* CHAT STYLES. ============================*/
#chat-div {
  height: 400px;
  overflow-y: scroll;
  background-color: rgba(0,0,0,.05);
}
.back-plus-shadow {
  background: rgba(255,255,255,0.3);
  -webkit-box-shadow: -5px -5px 14px -9px rgba(0,0,0,0.15);
  -moz-box-shadow: -5px -5px 14px -9px rgba(0,0,0,0.15);
  box-shadow: -5px -5px 14px -9px rgba(0,0,0,0.15);
}
.chat-event-header {
  margin: 10px 20px;
  padding: 10px 20px;
}
.chat-p {
  font-size: 95%;
  color: #DDD;
}
.chat-title {
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  font-weight: 900;
  color: #FFF;
}
.chat-div-ul {
  width: 100px;
}

.chat-div-li {
  list-style: none;
  padding-bottom: 15px;
}

.radius {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.inner-shadow {
  -webkit-box-shadow: -5px -5px 14px -9px rgba(0,0,0,0.15);
  -moz-box-shadow: -5px -5px 14px -9px rgba(0,0,0,0.15);
  box-shadow: -5px -5px 14px -9px rgba(0,0,0,0.15);
}
.border {
  border: 1px 0 0 1px inset #000;
}
.chat-box {
  margin: 10px 20px;
  padding: 10px;
}
.chat-form {
  margin: 10px 1px 10px 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: .35em 1em;
  font-size: 100%;
  height: 27px;
  width: 77.6667%;
}
.chat-button {
  margin: 10px 0px 10px 1px;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
  background: none;
  border: 0.5px solid rgba(0,0,0,.8);
}
.chat-button:hover {
  -webkit-box-shadow: -7px -7px 14px -4px rgba(0,0,0,0.5);
  -moz-box-shadow: -7px -7px 14px -4px rgba(0,0,0,0.5);
  box-shadow: -7px -7px 14px -4px rgba(0,0,0,0.5);
}
.button-width, .chat-button-width {
  width: 15%;
  font-size: auto;
  margin: 5px 0;
}

.align-right {
  text-align: right;
}
.chat-penTitle {
  font-size: 25px;
  line-height: 22px;
  font-weight: 900;
}
.chat-penName {
  font-size: 15px;
  line-height: 22px;
  font-weight: 900;
}
.chat-time {
  font-size: 80%;
  font-weight: normal;
  margin-left: 5px;
  color: grey;
}
.chat-singleMessage {
  margin-bottom: 30px;
  margin-left: 10px;
}

@media (max-width: 750px) {
  .button-width {
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
  .chat-form {
    margin: 0;
    padding: 10px;
    width: 91.6667%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }

/* NAV */
  .custom-menu-3 {
      text-align: left;
  }
  .custom-toggle {
      display: block;
  }

}
@media (max-width: 400px) {
  .button-width {
    width: 35%;
  }
  .chat-button-width {
    display: none;
  }
  .chat-box {
    margin: 10px 0;
    padding: 10px;
  }
  .chat-form {
    margin: 0;
    padding: 10px;
    width: 91.6667%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
}

.centering {
  display: block;
  margin: 20px auto;
}
