/* Contents of this file:
 * |Basic Styles|
 * |Media Queries|
 * @media all and (min-width: 1228px) { }
 * @media all and (max-width:1227px) and (min-width: 1024px) { }
 * @media all and (max-width: 1023px) and (min-width: 768px) { }
 * @media all and (max-width: 767px) and (min-width: 569px) { }
 * @media all and (max-width: 568px) and (min-width: 420px) { }
 * @media all and (max-width: 419px) { }
 * |Color|
 */

@charset "utf-8";

/*.container {
  display: flex; // or inline-flex
  flex-direction: row | row-reverse | column | column-reverse;
  flex-wrap: nowrap | wrap | wrap-reverse;
  justify-content: flex-start | flex-end | center | space-between | space-around;
  align-content: flex-start | flex-end | center | space-between | space-around | stretch;

}
*/


/*.item {
  order: <integer>;

  flex-grow: <number>; // default 0
  flex-shrink: <number>; // default 1 
  flex-basis: <length> | auto; // default auto 
  // Short-hand for three previous
  flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]

}*/


.flex-container {
  padding: 0;
/*  margin: 0;*/
/*  list-style: none;*/
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: center;
  align-content: center;

  width: 50%;
  margin: 0 25%;
}

.flex-item {
  

/*  background: tomato;
  margin-top: 10px;*/
  
  /*line-height: 150px;*/
/*  color: white;
  font-weight: bold;
  font-size: 4rem;
  text-align: center;*/
}

@media all and (max-width:1227px) and (min-width: 768px) {
  .flex-container {
    width: 60%;
    margin: 0 20%;
  }
}

@media all and (max-width: 767px) and (min-width: 569px) {
  .flex-container {
    width: 80%;
    margin: 0 10%;
  }
}
@media all and (max-width: 568px) { 
  .flex-container {
    width: 96%;
    margin: 0 2%;
  }
}

